{% extends 'dashboard/base.html' %}
{% block content %}
    <body>
    <div class="main-content-container container-fluid px-4">
        <p></p>
        <div class="main-content-container container-fluid px-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-accent" type="submit" value="Сохранить">
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </body>
{% endblock %}