{% extends "dashboard/base.html" %}

{% block title %} User Profile {% endblock %}

{% block content %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div>
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Баннер - {{ banner.id }}</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="card card-small mb-4 pt-3">
            <div class="card-header border-bottom text-center">
                <div class="mb-3 mx-auto">
                    <img  src="{{ banner.banner.url }}" alt="User Avatar" width="550"></div>
                <h4 class="mb-0">
                    {{ banner.title }}
                </h4>
                <br>
                <button type="submit" class="btn btn-accent"><a style="color: white" href="{% url 'dashboard:banner:banner_update' pk=banner.id %}">Изменить баннер</a></button>
                <br>
                <br>
                    <a style="color: white" href="{% url 'dashboard:banner:banner_delete' pk=banner.id %} "><button type="submit" class="btn btn-accent">Удалить</button></a>
            </div>
        </div>
        <a style="color: white" href="{% url 'dashboard:banner:banners_list' %}"><button type="submit" class="btn btn-accent">Вернуться ко всем баннерам</button></a>
        <!-- End Default Light Table -->
    </div>
    <p></p>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}