<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
</head>
<body>
    <h1>Employee Registration</h1>
    <form action="{% url 'accounts:employee_register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ employee_form.as_p }}
        <input type="submit" value="Register">
    </form>
    {% if errors %}
        {% for error in errors %}
            <p style="color: red;">
                Incorrect {{ error }}
            </p>
        {% endfor %}
    {% endif %}
</body>
</html>