<link rel="stylesheet" href="../../../../static/css/search_filter.css">
{% load i18n %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- Add New Post Form -->
            <div class="card card-small mb-2">
                <div class="card-body">
                    <form class="add-new-post" action="{% url 'dashboard:users:users_list' %}" method="get">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <strong class="text-muted d-block mb-2">Search</strong>
                                <input class="form-control form-control-lg mb-3"
                                       type="text" id="search" name="q"
                                       placeholder="Search"
                                       value="{% if query %}{{ query }}{% endif %}">
                            </div>
                            <div class="form-group col-lg-2">
                                <strong class="text-muted d-block mb-2">{% trans 'Zakat' %}</strong>
                                <select class="form-control form-control-lg mb-3" name="zakat_persons" id="zakat_person">
                                    <option value="default" {% if zakat == 'default' %}selected{% endif %}>
                                        {% trans '-------' %}
                                    </option>
                                    <option value="paid" {% if zakat == 'paid' %}selected{% endif %}>
                                        {% trans 'paid' %}
                                    </option>
                                    <option value="not paid" {% if zakat == 'not paid' %}selected{% endif %}>
                                        {% trans 'not paid' %}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <strong class="text-muted d-block mb-2">{% trans 'Sadaka Sum' %}</strong>
                                <input class="form-control form-control-lg mb-3"
                                       type="number" min="0" step="0,01" name="zakat_sum_r" id="zakat_sum_r"
                                       {% if more_than_sum != -1 %}value="{{ more_than_sum }}"{% endif %}>
                            </div>
                            <div class="item" class="form-group col-lg-2">
                                <button type="submit" class="form-control form-control-lg btn btn-accent  text-white"
                                style="margin-top: 27px; height: 48px; width: 140px; margin-left: 5px">
                                    <i class="material-icons">search</i>
                                    {% trans "Search" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#    <script src="js/extention/choices.js"></script>#}
    <script>
        const customSelects = document.querySelectorAll("select");
        const deleteBtn = document.getElementById('delete')
        const choices = new Choices('select',
            {
                searchEnabled: false,
                removeItemButton: true,
                itemSelectText: '',
            });
        for (let i = 0; i < customSelects.length; i++) {
            customSelects[i].addEventListener('addItem', function (event) {
                if (event.detail.value) {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('valid')
                    parent.classList.remove('invalid')
                } else {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('invalid')
                    parent.classList.remove('valid')
                }
            }, false);
        }
        deleteBtn.addEventListener("click", function (e) {
            e.preventDefault()
            const deleteAll = document.querySelectorAll('.choices__button')
            for (let i = 0; i < deleteAll.length; i++) {
                deleteAll[i].click();
            }
        });

    </script>
{% endblock content %}
