<link rel="stylesheet" href="../../../../static/css/search_filter.css">
{% load i18n %}
{% block content %}
    <br>
    <div class="s007">
        <form action="{% url 'dashboard:users:users_list' %}" method="get">
            <div class="inner-form">
                <div class="basic-search">
                    <div class="input-field">
                        <div class="icon-wrap">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"
                                 viewBox="0 0 20 20">
                                <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                            </svg>
                        </div>
                        <input id="search" name="q" type="text"
                               placeholder="{% trans "Search for user..." %}"
                               aria-label="Search">
                        <div class="result-count">
                            <span>{{ page_obj.paginator.count }}</span> {% trans "results" %}
                        </div>
                    </div>
                </div>
                <div class="advance-search">
                    <span class="desc">{% trans "Advanced Search" %}</span>
                    <div class="item">
                        <input type="checkbox" name="zakat_persons" id="zakat_person">
                        <label for="zakat_person" style="margin-left: 15px">{% trans 'display who paid even once zakat' %}</label>
                    </div>
                    <hr>
                    <div class="item">
                        <label for="zakat_sum">{% trans 'Display who gave sadaka more than' %}</label>
                        <input type="number" step="0,01" name="zakat_sum_r" id="zakat_sum_r">
                        <label>{% trans "rubls" %}</label>
                    </div>
                    <hr>
{#                    <div class="item">#}
{#                        <label for="zakat_sum">{% trans 'Display who gave sadaka more than' %}</label>#}
{#                        <input type="number" step="0,01" name="zakat_sum_d" id="zakat_sum_d">#}
{#                        <label>{% trans "dollars" %}</label>#}
{#                    </div>#}
{#                    <hr>#}
                    <div class="item">
                        <button type="submit" class="btn btn-accent">{% trans "Search" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {#    <script src="js/extention/choices.js"></script>#}
    <script>
        const customSelects = document.querySelectorAll("select");
        const deleteBtn = document.getElementById('delete')
        const choices = new Choices('select',
            {
                searchEnabled: false,
                removeItemButton: true,
                itemSelectText: '',
            });
        for (let i = 0; i < customSelects.length; i++) {
            customSelects[i].addEventListener('addItem', function (event) {
                if (event.detail.value) {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('valid')
                    parent.classList.remove('invalid')
                } else {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('invalid')
                    parent.classList.remove('valid')
                }
            }, false);
        }
        deleteBtn.addEventListener("click", function (e) {
            e.preventDefault()
            const deleteAll = document.querySelectorAll('.choices__button')
            for (let i = 0; i < deleteAll.length; i++) {
                deleteAll[i].click();
            }
        });

    </script>
{% endblock content %}