{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %} {% trans "User Profile" %} {% endblock %}

{% block content %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div>
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">{{ user.user.username }}</h3>
            </div>
        </div>
        {% include "dashboard/users/user_info_card.html" %}
        <a style="color: white" href="{% url 'dashboard:users:users_list' %}">
            <button type="submit" class="btn btn-accent">{% trans "Go back to users list" %}</button>
        </a>
        {% if user.isBlock %}
            <a style="color: white" href="{% url 'dashboard:users:user_unblock' user.id %}">
                <button type="submit" class="btn btn-danger">{% trans "Unblock this user" %}</button>
            </a>
        {% else %}
            <a style="color: white" href="{% url 'dashboard:users:user_block' user.id %}">
                <button type="submit" class="btn btn-danger">{% trans "Block this user" %}</button>
            </a>
        {% endif %}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
