<link rel="stylesheet" href="../../../../static/css/user_info_card.css">
{% load avatar_tags %}
{% load i18n %}

<div class="container bootstrap snippet">
    <div class="inf-content">
        <div class="row">
            <div class="col-md-4">
                {% avatar user.user 250 style='border-radius: 5%;' class="center" %}
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                {% if user.isBlock %}
                    <div class="alert alert-danger">
                        <strong>{% trans "Warning!" %}</strong> {% trans "This user was blocked." %}
                    </div>
                {% endif %}
                <strong>{% trans "Information" %}</strong>
                <br>
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Username" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{ user.user.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Name" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.user.first_name %}
                                    {{ user.user.first_name }}
                                {% else %}
                                    {% trans "No name" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Lastname" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.user.first_name %}
                                    {{ user.user.last_name }}
                                {% else %}
                                    {% trans "No name" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Email" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.user.email %}
                                    {{ user.user.email }}
                                {% else %}
                                    {% trans "No email" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Phone number" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.phone_number %}
                                    {{ user.phone_number }}
                                {% else %}
                                    {% trans "No Phone" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Citizenship" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.citizenship %}
                                    {{ user.get_citizenship_display }}
                                {% else %}
                                    {% trans "Unknown citizenship" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Religion" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.religion %}
                                    {{ user.religion }}
                                {% else %}
                                    {% trans "Unknown religion" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Birthdate" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.birthdate %}
                                    {{ user.birthdate }}
                                {% else %}
                                    {% trans "Unknown birthdate" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Education" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.education %}
                                    {{ user.education }}
                                {% else %}
                                    {% trans "Unknown education" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Work position" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.work.position %}
                                    {{ user.work.position }}
                                {% else %}
                                    {% trans "Unknown work position" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Work place" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.work.place %}
                                    {{ user.work.place }}
                                {% else %}
                                    {% trans "Unknown work place" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Marital status" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.marital_status %}
                                    {{ user.marital_status }}
                                {% else %}
                                    {% trans "Unknown marital status" %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    {% trans "Address" %}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {% if user.address %}
                                    {{ user.address }}
                                {% else %}
                                    {% trans "Unknown address" %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>