{% extends 'dashboard/base.html' %}
{% load get_previous_url %}
{% block content %}

    <div class="main-content-container container-fluid px-4">
        <div class="main-content-container container-fluid px-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <form action="." method="post">
                                {% csrf_token %}
                                <div>
                                    Вы точно хотите удалить данного партнера?
                                </div>
                                <div>
                                    <input class="btn btn-accent" type="submit" value="Да"/> <a
                                        href="{% get_previous_url request %}">Отмена</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}