{% extends "dashboard/base.html" %}

{% block title %} User Profile {% endblock %}

{% block content %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div>
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Партнер - {{ partner.title }}</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="card card-small mb-4 pt-3">
            <div class="card-header border-bottom text-center">
                <div class="mb-3 mx-auto">
                    <img class="rounded-circle" src="{{ partner.logo.url }}" alt="User Avatar" width="110"></div>
                <h4 class="mb-0">
                    {{ partner.title }}
                </h4>
                <br>
                <button type="submit" class="btn btn-accent"><a style="color: white" href="{% url 'dashboard:partner:partner_update' pk=partner.id %}">Изменить информацию о партнере</a></button>
                <br>
                <br>
                <form method="post" action="{% url 'dashboard:partner:partner_delete' pk=partner.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-accent" value="Удалить">
                </form>
{#                <button type="submit" class="btn btn-accent"><a style="color: white" href="{% url 'dashboard:partner:partner_delete' pk=partner.id %}">Удалить партнера</a></button>#}
            </div>
        </div>
        <a style="color: white" href="{% url 'dashboard:partner:partners_list' %}"><button type="submit" class="btn btn-accent">Вернуться ко всем партнерам</button></a>
        <!-- End Default Light Table -->
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}