{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Partners</title>#}
{#</head>#}
{#<body>#}
{#    {% for partner in object_list %}#}
{#        <li><a href="{{ partner.get_absolute_url }}">{{ partner.title }}</a></li>#}
{#    {% empty %}#}
{#        <li>No partners yet.</li>#}
{#    {% endfor %}#}
{#    <br>#}
{#    <a href="{% url 'dashboard:partner:partner_create' %}">Добавить нового партнера</a>#}
{#</body>#}
{#</html>#}

{% extends "dashboard/base.html" %}

{% block title %} Blog Posts {% endblock %}

{% block content %}

    <div class="main-content-container container-fluid px-4">
        <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <h3 class="page-title">Партнеры</h3>
                </div>
                <div style="width: 100%;display: flex;justify-content: flex-end ">
                    <a style="color: white" href="{% url 'dashboard:partner:partner_create' %}">
                        <button type="submit" class="btn btn-accent">Создать партнера</button>
                    </a>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row">
                {% if object_list %}
                    {% for partner in page_obj %}
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                            <div class="card card-small card-post h-100">
                                <div class="card-post__image"
                                     style="background-image: url('{{ partner.logo.url }}');"></div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-fiord-blue"
                                           href="{{ partner.get_absolute_url }}">{{ partner.title }}</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>На данный момент партнеров нет.</h3><br><br><br>
                {% endif %}
            </div>

            <div class="pagination" style="width: 100%;display: flex;justify-content: flex-end ">
            <span class="step-links">
                {% if page_obj.has_previous %}
{#                    <input type="image" src="" href="?page=1">#}
                    <a href="?page=1">Первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                {% endif %}
            </span>
        </div>


        </div>
        <br>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
