<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partner - {{ object.title }}</title>
</head>
<body>
    <p>{{ object.title }}</p>
    <img src="{{ object.logo.url }}">
    <br>
    <a href="{% url 'dashboard:partner:partner_update' pk=object.id %}">Изменить информацию о партнере.</a>
    <hr>
    <form method="post" action="{% url 'dashboard:partner:partner_delete' pk=object.id %}">
        {% csrf_token %}
        <input type="submit" value="Удалить партнера">
    </form>
</body>
</html>