<!DOCTYPE html>
{% load avatar_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block title %}
    {% endblock title %}

    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}
</head>
<body>
<div>
    <div>
        {% avatar user 80 style='border-radius: 50%;' %}
        <a href="{% url 'avatar_change' %}">Change your avatar</a>
    </div>
    <navbar>
        <ul>
            <li><a href='#'>Employees</a></li>
            <li><a href='#'>Users</a></li>
            <li><a href='#'>Gatherings</a></li>
            <li><a href='#'>Sadaka and Zakat</a></li>
            <li><a href='#'>News</a></li>
            <li><a href='#'>Reports</a></li>
            <li><a href='#'>Banners</a></li>
            <li><a href='#'>Partners</a></li>
            <li><a href='#'>Other</a></li>
            <li><a href='{% url "dashboard:logout" %}'>Logout</a></li>
            <li><a href='#'>Change language (English/Русский)</a></li>
        </ul>
    </navbar>
</div>
{% block content %}
{% endblock content %}

</body>
</html>