{% extends 'dashboard/base.html' %}
{% block content %}
    {% csrf_token %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle"><a href="{% url 'dashboard:employee:staff_list'%}">Back to staffs page</a></span>
                <h3 class="page-title">Employee create page</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <form method="post" action="{% url 'dashboard:employee:employee_create_form' %}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-8">
                    {% include 'dashboard/employee/user_form.html' %}
                    {% include 'dashboard/employee/employee_form.html' %}
                    <div class="form-row float-right mb-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary ml-2">Save and continue editing</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- End Default Light Table -->
    </div>
{% endblock %}