{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block content %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">{% trans "Employees" %} ({{ employee_list | length }})</h3>
            </div>

        </div>
        <!-- End Page Header -->

        <!--search-->
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <form action="{% url 'dashboard:employee:staff_list' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{% trans "Search employee" %}" name="search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!--sort filter-->
                <div class="dropdown show mb-2 ml-2">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {% trans "Sort by date" %}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="?sort=new_created">{% trans "New created" %}</a>
                        <a class="dropdown-item" href="?sort=old_created">{% trans "Old created" %}</a>
                        <a class="dropdown-item" href="?sort=new_updated">{% trans "New updated" %}</a>
                        <a class="dropdown-item" href="?sort=old_updated">{% trans "Old updated" %}</a>
                    </div>
                </div>
            </div>
            <!--add button-->
            <a class="btn btn-primary mb-2" href="{% url 'dashboard:employee:employee_create_form' %}">
                {% trans "+ Add new staff" %}
            </a>
        </div>
        {#        </div>#}
        <!-- Default Light Table -->
        <div class="row">
            <div class="col">
                <div class="card card-small mb-4">
                    <div class="card-body p-0 pb-3 text-center">
                        <table class="table mb-0">
                            <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">#</th>
                                <th scope="col" class="border-0">{% trans "ID" %}</th>
                                <th scope="col" class="border-0">{% trans "Username" %}</th>
                                <th scope="col" class="border-0">{% trans "First Name" %}</th>
                                <th scope="col" class="border-0">{% trans "Last Name" %}</th>
                                <th scope="col" class="border-0">{% trans "Position" %}</th>
                                <th scope="col" class="border-0">{% trans "Phone" %}</th>
                                <th scope="col" class="border-0">{% trans "Action" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for employee in employee_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ employee.id }}</td>
                                    <td>{{ employee.user.username }}</td>
                                    <td>{{ employee.user.first_name }}</td>
                                    <td>{{ employee.user.last_name }}</td>
                                    <td>{{ employee.position }}</td>
                                    <td>{{ employee.phone_number }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {% trans "Edit" %}
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                   href="{% url 'dashboard:employee:employee_edit_form' employee.id %}">{% trans "Edit" %}</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"
                                                   href="{% url 'dashboard:employee:employee_delete' employee.pk %}">{% trans "Delete" %}</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
