{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    {% csrf_token %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle"><a href="{% url 'dashboard:employee:staff_list' %}">Back to staffs page</a></span>
                <h3 class="page-title">Employee create page</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <form method="post" action="{% url 'dashboard:employee:employee_create_form' %}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">User information</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="feInputAddress">Username *</label>
                                            {% render_field user_form.username class="form-control"  %}
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="fePassword">Password *</label>
                                                {% render_field user_form.password class="form-control" id="fePassword" placeholder="Password" %}
                                                <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>

                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="feEmailAddress">Confirm password *</label>
                                                {% render_field user_form.password2 class="form-control" id="feEmailAddress" placeholder="Password" %}
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </li>
                        </ul>

                        {% if user_form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ user_form.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-row float-right mb-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary ml-2">Save and continue editing</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- End Default Light Table -->
    </div>

    {% block javascripts %}
        <script src="{% static 'dashboard/employee/email_validation.js' %}"></script>
    {% endblock javascripts %}
{% endblock %}