{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Campaigns{% endblock %}

{% block content %}


<h1>    qwtrethr</h1>

<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
<h3>Count: {{ count }}</h3>


    <div class="main-content-container container-fluid px-4">

            <div class="row">
                {% if campaigns %}
                {% for campaign in campaigns %}

                  <div class="col-lg-4">
                    <div class="card card-small card-post mb-4">
                      <div class="card-body">
                        <h5 class="card-title">{{ campaign.title }}</h5>
                        <p class="card-text text-muted">{{ campaign.description }}</p>
                      </div>
{#                        TODO add extra info #}
                      <div class="card-footer border-top d-flex">
                        <div class="card-post__author d-flex">
{#                          <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/static/assets/img/avatars/1.jpg');">Written by James Khan</a>#}
                          <div class="d-flex flex-column justify-content-center ml-3">
                            <span class="card-post__author-name">James Khan</span>
                            <small class="text-muted">21 March 2011</small>
                          </div>
                        </div>
                        <div class="my-auto ml-auto">
                          <a class="btn btn-sm btn-white" href="#">
                            <i class="far fa-bookmark mr-1"></i> Bookmark </a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% else %}
            <h6>Sry</h6>
            {% endif %}
                </div>
</div>

{#    <div class="main-content-container container-fluid px-4">#}
{#        <div class="main-content-container container-fluid px-4">#}
{#            <!-- Page Header -->#}
{#            <div class="page-header row no-gutters py-4">#}
{#                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">#}
{#                    <span class="text-uppercase page-subtitle">Components</span>#}
{#                    <h3 class="page-title">Партнеры</h3>#}
{#                </div>#}
{#            </div>#}
{#            <!-- End Page Header -->#}
{#            <div class="row">#}
{#                {% if object_list %}#}
{#                {% for partner in object_list %}#}
{#                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">#}
{#                        <div class="card card-small card-post h-100">#}
{#                            <div class="card-post__image"#}
{#                                 style="background-image: url('{{ partner.logo.url }}');"></div>#}
{#                            <div class="card-body">#}
{#                                <h5 class="card-title">#}
{#                                    <a class="text-fiord-blue"#}
{#                                       href="{{ partner.get_absolute_url }}">{{ partner.title }}</a>#}
{#                                </h5>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#                {% else %}#}
{#                    На данный момент партнеров нет.#}
{#                {% endif %}#}
{#            </div>#}
{#            <a style="color: white" href="{% url 'dashboard:partner:partner_create' %}"><button type="submit" class="btn btn-accent">Создать партнера</button></a>#}
{#        </div>#}
{#    </div>#}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}