{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Campaigns{% endblock %}

{% block content %}




    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Blog Posts</span>
                <h3 class="page-title">Add New Post</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-lg-8">
                {#                TODO add full info #}
                <div class="card card-small mb-4 ">
                    <div class="card-header border-bottom">
                        <h4 class="mb-0">
                            {{ campaign.title }}
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4">
                            <div class="progress-wrapper">
                                {#                                TODO add number=campaign.collected/campaign.goal #}
                                <strong class="text-muted d-block mb-2">collected/goal</strong>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="74"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                                        <span class="progress-value">74%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-4">
                            <strong class="text-muted d-block mb-2">Description</strong>
                            <span>{{ campaign.description }}</span>
                        </li>

                        <!-- Closing Reason text -->
                        {% if campaign.closing_reason %}
                            <li class="list-group-item p-4">
                                <strong class="text-muted d-block mb-2">Closing Reason</strong>
                                <span>{{ campaign.closing_reason }}</span>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                {#                TODO add full info #}
                {#                TODO change icons #}
                <!-- Post Overview -->
                <div class='card card-small mb-3'>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Info</h6>
                    </div>
                    <div class='card-body p-0'>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-3">
                    <span class="d-flex mb-2">

                      <i class="material-icons mr-1">flag</i>
{#                        TODO how to odenitfy Employueer #}
                      <strong class="mr-1">Created By:</strong>
                        <a href="#">{{ campaign.created_by }}
                        </a>
                    </span>
                                <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Created at:</strong>
                      <strong class="text-black-50">{{ campaign.created_at }}</strong>
                    </span>
                                <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Updated At:</strong>
                      <strong class="text-warning">{{ campaign.updated_at }}</strong>
                    </span>
                                {% if campaign.closed_at %}
                                    <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Closed At:</strong>
                      <strong class="text-warning">{{ campaign.closed_at }}</strong>
                    </span>

                                {% endif %}

                                <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Project:</strong>
{#                                    TODO add project url to#}
                      <a href="#">
                          {{ campaign.project }}
                      </a>
                    </span>
                                {% if campaign.request %}
                                    <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Request:</strong>
{#                                    TODO add request url to #}
                      <a href="#">
                          {{ campaign.request }}
                      </a>
                    </span>

                                {% endif %}

                                <span class="d-flex">
                      <i class="material-icons mr-1">score</i>
                      <strong class="mr-1">GOAL:</strong>
{#                                    TODO add currency sign #}
                      <strong class="text-danger">{{ campaign.goal }} RUBLES</strong>
                    </span>
                                <span class="d-flex">
                      <i class="material-icons mr-1">score</i>
                      <strong class="mr-1">Collected:</strong>
{#                                    TODO add collected #}
                      <strong class="text-success">COLLECTED</strong>
                    </span>
                            </li>
                            <li class="list-group-item d-flex px-3">
                                <a
                                        {#                                        TODO add href to see payment history #}
                                        href="#"
                                        class="btn btn-sm btn-accent ml-auto text-white">
                                    <i class="material-icons">history</i> Payment History
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- / Post Overview -->
                <!-- Post Overview -->
            </div>
            <!-- End Page Header -->
            <div class="col-lg-8">

                <!-- Add New Post Form -->
                <div class="card card-small mb-2">
                    <div class="card-header border-bottom">
                        <h4 class="mb-0">
                            Close Campaign
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'dashboard:projs:campaign-close' campaign.id %}" method="post">
                            {#                            TODO add count title #}
                            <input class="form-control form-control-lg mb-3"
                                   type="text" name="text" id="id_text" required
                                   placeholder="Text">

                            <button type="submit" class="form-control form-control-lg btn btn-outline-accent">
                                <i class="material-icons">edit</i> Close Campaign
                            </button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}