{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Campaigns{% endblock %}

{% block content %}




    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Blog Posts</span>
                <h3 class="page-title">Add New Post</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-lg-8">
                {#                TODO add full info #}
                <div class="card card-small mb-4 ">
                    <div class="card-header border-bottom">
                        <h4 class="mb-0">
                            {{ campaign.title }}
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4">
                            <div class="progress-wrapper">
                                {#                                TODO add number=campaign.collected/campaign.goal #}
                                <strong class="text-muted d-block mb-2">collected/goal</strong>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="74"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                                        <span class="progress-value">74%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-4">
                            <strong class="text-muted d-block mb-2">Description</strong>
                            <span>{{ campaign.description }}</span>
                        </li>

                        <!-- Closing Reason text -->
                        {% if campaign.closing_reason %}
                            <li class="list-group-item p-4">
                                <strong class="text-muted d-block mb-2">Closing Reason</strong>
                                <span>{{ campaign.closing_reason }}</span>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                {#                TODO add full info #}
                {#                TODO change icons #}
                <!-- Post Overview -->
                <div class='card card-small mb-3'>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Info</h6>
                    </div>
                    <div class='card-body p-0'>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-3">
                    <span class="d-flex mb-2">

                      <i class="material-icons mr-1">flag</i>
{#                        TODO how to odenitfy Employueer #}
                      <strong class="mr-1">Created By:</strong>
                        <a href="#">{{ campaign.created_by }}
                        </a>
                    </span>
                                <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Created at:</strong>
                      <strong class="text-black-50">{{ campaign.created_at }}</strong>
                    </span>
                                <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Updated At:</strong>
                      <strong class="text-warning">{{ campaign.updated_at }}</strong>
                    </span>
                                {% if campaign.closed_at %}
                                    <span class="d-flex">
                      <i class="material-icons mr-1">score</i>
                      <strong class="mr-1">Closed At:</strong>
{#                                    TODO add currency sign #}
                      <strong class="text-success">{{ campaign.closed_at }}</strong>
                    </span>
                                {% endif %}

                                <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Project:</strong>
{#                                    TODO add project url to#}
                      <a href="#">
                          {{ campaign.project }}
                      </a>
                    </span>
                                <span class="d-flex mb-2">
                      <i class="material-icons mr-1">visibility</i>
                      <strong class="mr-1">Request:</strong>
{#                                    TODO add request url to #}
                      <a href="#">
                          {{ campaign.request }}
                      </a>
                    </span>

                                <span class="d-flex">
                      <i class="material-icons mr-1">score</i>
                      <strong class="mr-1">GOAL:</strong>
{#                                    TODO add currency sign #}
                      <strong class="text-danger">{{ campaign.goal }} RUBLES</strong>
                    </span>
                                <span class="d-flex">
                      <i class="material-icons mr-1">score</i>
                      <strong class="mr-1">Collected:</strong>
{#                                    TODO add collected #}
                      <strong class="text-success">COLLECTED</strong>
                    </span>
                            </li>
                            <li class="list-group-item d-flex px-3">
                                <button class="btn btn-sm btn-outline-accent">
                                    <i class="material-icons">save</i> Save Draft
                                </button>
                                <button class="btn btn-sm btn-accent ml-auto">
                                    <i class="material-icons">file_copy</i> Publish
                                </button>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- / Post Overview -->
                <!-- Post Overview -->
                <div class='card card-small mb-3'>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Categories</h6>
                    </div>
                    <div class='card-body p-0'>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-3 pb-2">
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" class="custom-control-input" id="category1" checked>
                                    <label class="custom-control-label" for="category1">Uncategorized</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" class="custom-control-input" id="category2" checked>
                                    <label class="custom-control-label" for="category2">Design</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" class="custom-control-input" id="category3">
                                    <label class="custom-control-label" for="category3">Development</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" class="custom-control-input" id="category4">
                                    <label class="custom-control-label" for="category4">Writing</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" class="custom-control-input" id="category5">
                                    <label class="custom-control-label" for="category5">Books</label>
                                </div>
                            </li>
                            <li class="list-group-item d-flex px-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="New category"
                                           aria-label="Add new category" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-white px-2" type="button">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / Post Overview -->
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}