{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Campaigns{% endblock %}

{% block content %}


    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">Edit Payment Option Page</h3>

            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-small mb-2">
                    <div class="card-body">
                        <form method="post"
                              action="{% url 'dashboard:projs:payment_option-edit' form.instance.id %}">

                            <input class="form-control
                             {% if form.errors.title %}is-invalid{% endif %}
                             form-control-lg mb-3" required
                                   type="text" name="title" id="id_title"
                                   placeholder="Title"
                                   value="{{ form.initial.title }}">
                            {% if form.errors.title %}
                                <div class="invalid-feedback">{{ form.errors.title.0 }}</div>
                            {% endif %}

                            <input class="form-control
                                 {% if form.errors.description %}is-invalid{% endif %}
                                 form-control-lg mb-3" required
                                   type="text" name="description" id="id_description"
                                   placeholder="Description"
                                   value="{{ form.initial.description }}">
                            {% if form.errors.description %}
                                <div class="invalid-feedback">{{ form.errors.description.0 }}</div>
                            {% endif %}
                            <select class="form-control
                                 {% if form.errors.payment_type %}is-invalid{% endif %}
                                 form-control-lg mb-3" name="payment_type"
                                    id="id_payment_type"
                                    required>
                                {% with payment_type=form.fields.payment_type %}
                                    {% for choice in form.fields.payment_type.choices %}
                                        <option value="{{ choice.0 }}"
                                                {% if forloop.first %}selected{% endif %}
                                        >{{ choice.1 }}</option>
                                    {% endfor %}
                                {% endwith %}
                            </select>
                            {% if form.errors.payment_type %}
                                <div class="invalid-feedback">{{ form.errors.payment_type.0 }}</div>
                            {% endif %}

                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <button type="submit" class="form-control form-control-lg btn btn-outline-accent">
                                        <i class="material-icons">search</i>Search Campaigns
                                    </button>
                                </div>

                            </div>
                        </form>


                        <form action="{% url 'dashboard:projs:payment_option-delete' form.instance.id %}"
                              method="post">
                            <div class="form-group col-lg-2 float-right pr-0">
                                <button type="submit"
                                        class="form-control form-control-lg btn btn-danger text-white">
                                    <i class="material-icons">delete</i> Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <!-- Add New Post Form -->


    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}