{% load static %}
{% load i18n %}

<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0"
               target="_blank"
               href="https://appseed.us/admin-dashboards/django-dashboard-shards" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;"
                         src="{% static '/img/shards-dashboards-logo.svg' %}" alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">Django Shards Dashboard</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
        <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..."
                   aria-label="Search"></div>
    </form>

    {% if user.is_authenticated %}
        <div class="nav-wrapper">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'dashboard:employee:staff_list' %}">
                        <i class="material-icons">airport_shuttle</i>
                        <span>{% trans "Employees" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">person</i>
                        <span>{% trans "Users" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">move_to_inbox</i>
                        <span>{% trans "Gatherings" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">attach_money</i>
                        <span>{% trans "Sadaka and Zakat" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'dashboard:news_list' %}">
                        <i class="material-icons">table_chart</i>
                        <span>{% trans "News" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="material-icons">report</i>
                        <span>{% trans "Reports" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">wallpaper</i>
                        <span>{% trans "Banners" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'dashboard:partner:partners_list' %}">
                        <i class="material-icons">face</i>
                        <span>{% trans "Partners" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <i class="material-icons">more_horiz</i>
                        <span>{% trans "Other" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url "dashboard:logout" %}">
                        <i class="material-icons">power_settings_new</i>
                        <span>{% trans "Logout" %}</span>
                    </a>
                </li>

                <div class="dropdown">
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                            <i class="material-icons">language</i>
                            <span>{% trans "Change language" %}</span>
                        </a>
                    </li>
                    <div class="dropdown-content">
                        <a href="#" id='russian' onclick="set_russian()">Русский (ru)</a>
                        <a href="#" id='english' onclick="set_english()">English (en)</a>
                    </div>
                </div>

                <form action="{% url 'set_language' %}" id="language_form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_to }}">
                </form>
            </ul>
        </div>
    {% endif %}
</aside>

<script>
    function set_russian() {
        let form = document.getElementById('language_form');
        form.innerHTML += '<select name="language"><option value="ru"></option></select>';
        form.submit();
    }

    function set_english() {
        let form = document.getElementById('language_form');
        form.innerHTML += '<select name="language"><option value="en"></option></select>';
        form.submit();
    }
</script>