<link rel="stylesheet" href="../../../../static/css/search_filter.css">
{% load i18n %}
{% block content %}
    <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-2">
                    <div class="card-body">
                        <form class="add-new-post">

                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <strong class="text-muted d-block mb-2">Search</strong>
                                    <input class="form-control form-control-lg mb-3"
                                           type="text" name="search" id="id_search"
                                           placeholder="Search"
                                           value="{{ filter.form.data.search }}">
                                </div>
                                <div class="form-group col-lg-2">
                                <strong class="text-muted d-block mb-2">Status</strong>
                                    <select class="form-control form-control-lg mb-3" name="status" id="id_status">
                                        {% with selected_value=filter.form.data.status %}
                                            {% for choice in filter.form.fields.status.choices %}
                                                <option value="{{ choice.0 }}"
                                                        {% if selected_value == choice.0 %}selected{% endif %}
                                                >{{ choice.1 }}</option>
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                </div>
                                <div class="form-group col-lg-2">
                                    <strong class="text-muted d-block mb-2">Created After</strong>
                                    <input class="form-control form-control-lg mb-3"
                                           type="date" name="created_at_after" id="id_created_at_0"
                                           value="{{ filter.form.data.created_at_after }}">
                                </div>
                                <div class="form-group col-lg-2">
                                    <strong class="text-muted d-block mb-2">Created Before</strong>
                                    <input class="form-control form-control-lg mb-3"
                                           type="date" name="created_at_before" id="id_created_at_1"
                                           value="{{ filter.form.data.created_at_before }}">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-lg-10">
                                    <button type="submit" class="form-control form-control-lg btn btn-outline-accent">
                                        <i class="material-icons">search</i>Search Campaigns
                                    </button>
                                </div>
                                <div class="form-group col-lg-2">
                                    <a href="{% url 'dashboard:projs:campaign-create' %}" type="submit"
                                       class="form-control form-control-lg btn btn-accent  text-white">
                                        <i class="material-icons">add</i>Create Campaign
                                    </a>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>
{% endblock content %}
