{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}
    <div class="main-content-container container-fluid px-4 mt-3">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0 ml-1">
                <h3 class="page-title">{% trans 'Distribute Sadaka and Zakat' %}</h3>

            </div>
        </div>

        <div class="row">
            {% include "dashboard/sadaka_zakat/campaign_search.html" %}

            <div class="col-lg-4">
                <div class='card card-small mb-3'>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Info</h6>
                    </div>
                    <div class="card-body">
                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">link</i>
                            <strong class="mr-1">{% trans 'Transaction ID' %}:</strong>
                            <a href="#">
                                {{ transaction.id }}
                            </a>
                        </span>

                        <span class="d-flex mb-2">
                            <i class="material-icons mr-1">monetization_on</i>
                            <strong class="mr-1">{% trans 'SUM' %}:</strong>
                            <strong class="text-success"
                                    id="transaction_sum">{{ transaction.amount|intcomma }} RUB</strong>
                            <input type="hidden" id="transaction_amount" value="{{ transaction.amount }}">
                        </span>

                        <span class="d-flex mb-2">
                             <i class="material-icons mr-1">person</i>
                            <strong class="mr-1">{% trans 'From' %}:</strong>
                            <strong>
                                {% if transaction.user %}
                                    <a href="{% url 'dashboard:users:users_detail' transaction.user.user_id %}">
                                    {{ transaction.user.user.username }}
                                </a>
                                {% else %}
                                    {% trans 'Unknown' %}
                                {% endif %}
                            </strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">{% trans 'Open campigns count:' %} {{ count }}</h3>
            </div>
        </div>


        <div class="row">

            {% if campaigns %}

                <div class="main-content-container container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card card-small">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Campaigns</h6>
                                </div>
                                <div class="card-body p-0 pb-3 text-center">
                                    <table class="table mb-0">
                                        <thead class="bg-light">
                                        <tr>
                                            <th scope="col" class="border-0">#</th>
                                            <th scope="col" class="border-0">Title</th>
                                            <th scope="col" class="border-0">{% trans 'Goal (rub)' %}</th>
                                            <th scope="col" class="border-0">{% trans 'Current (rub)' %}</th>
                                            <th scope="col" class="border-0">{% trans 'Distribute (rub)' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for campaign in campaigns %}
                                            <tr>
                                                <td class="row-click"
                                                    onclick="window.location='{% url 'dashboard:projs:campaign-detail' campaign.id %}';">
                                                    {{ forloop.counter }}
                                                </td>
                                                <td class="row-click"
                                                    onclick="window.location='{% url 'dashboard:projs:campaign-detail' campaign.id %}';">
                                                    {{ campaign.title }}
                                                </td>
                                                <td class="row-click"
                                                    onclick="window.location='{% url 'dashboard:projs:campaign-detail' campaign.id %}';">
                                                    {{ campaign.goal }}
                                                </td>
                                                <td class="row-click"
                                                    onclick="window.location='{% url 'dashboard:projs:campaign-detail' campaign.id %}';">
                                                    {{ campaign.get_collected_money }}
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm distribute"
                                                           type="number" step="0,01" min="0">
                                                </td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="col-lg-12 col-md-12">
                    <!-- Add New Post Form -->
                    <div class="card card-small mb-2">
                        <div class="card-body text-center">
                            <p>Sowwy, no results :(</p>
                        </div>
                    </div>

                </div>
            {% endif %}


        </div>
    </div>

    <style>
        .row-click {
            cursor: pointer;
        }

        .row-click:hover {
            background-color: #ded8d8;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        function humonize(number) {
            let txt = number.toString();
            let len = txt.length;
            let result = '';
            let count = 0; // 1000000
            for (let i = len - 1; i >= 0; i--) {
                if (count === 3) {
                    result = ' ' + result;
                    count = 1;
                } else count += 1;
                result = txt[i] + result;
            }

            return result;
        }

        $('.distribute').on("change keyup", function () {
            console.log('Hello here')
            let inputs = $('.distribute');
            let prices = inputs.map((y, x) => parseInt(x.value) ? parseInt(x.value) : 0);
            let sum = Array.from(prices).reduce((a, b) => a + b, 0);
            let result = parseInt($('#transaction_amount').val()) - sum;
            $('#transaction_sum').html(humonize(result));
            if (result < 0) {
                $('#transaction_sum').attr('class', 'text-danger');
                alert('Сумма взноса меньше, чем вы хотите распределить.');
            } else {
                $('#transaction_sum').attr('class', 'text-success');
            }
        });
    </script>
{% endblock %}
