<link rel="stylesheet" href="../../../../static/css/search_filter.css">
{% load i18n %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- Add New Post Form -->
            <div class="card card-small mb-2">
                <div class="card-body">
                    <form class="add-new-post" action="{% url 'dashboard:sadaka_zakat:sadaka_zakat_list' %}" method="get">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <strong class="text-muted d-block mb-2">Search</strong>
                                <input class="form-control form-control-lg mb-3"
                                       type="text" id="search" name="q"
                                       placeholder="Search"
                                       value="{% if query %}{{ query }}{% endif %}">
                            </div>
                            <div class="form-group col-lg-2">
                                <strong class="text-muted d-block mb-2">{% trans 'Types' %}</strong>
                                <select class="form-control form-control-lg mb-3" name="transaction_type"
                                        id="transaction_type" onchange="set_distribute_false(this)">
                                    <option value="default" {% if type == 'default' %}selected{% endif %}>
                                        {% trans '-------' %}
                                    </option>
                                    <option value="sadaka" {% if type == 'sadaka' %}selected{% endif %}>
                                        {% trans 'sadaka' %}
                                    </option>
                                    <option value="direct sadaka" {% if type == 'direct sadaka' %}selected{% endif %}>
                                        {% trans 'direct sadaka' %}
                                    </option>
                                    <option value="zakat" {% if type == 'zakat' %}selected{% endif %}>
                                        {% trans 'zakat' %}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <strong class="text-muted d-block mb-2">{% trans 'Distribute' %}</strong>
                                <select class="form-control form-control-lg mb-3" name="distribute"
                                        id="distribute">
                                    <option value="default" {% if distribute == 'default' %}selected{% endif %}>
                                        {% trans '-------' %}
                                    </option>
                                    <option value="true" selected>
                                        {% trans 'true' %}
                                    </option>
                                    <option value="false" {% if distribute == 'false' %}selected{% endif %}>
                                        {% trans 'false' %}
                                    </option>
                                </select>
                            </div>
                            <div class="item" class="form-group col-lg-2">
                                <button type="submit" class="form-control form-control-lg btn btn-accent  text-white"
                                        style="margin-top: 27px; height: 48px; width: 140px; margin-left: 5px">
                                    <i class="material-icons">search</i>
                                    {% trans "Search" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#    <script src="js/extention/choices.js"></script>#}
    <script>
        const customSelects = document.querySelectorAll("select");
        const deleteBtn = document.getElementById('delete')
        const choices = new Choices('select',
            {
                searchEnabled: false,
                removeItemButton: true,
                itemSelectText: '',
            });
        for (let i = 0; i < customSelects.length; i++) {
            customSelects[i].addEventListener('addItem', function (event) {
                if (event.detail.value) {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('valid')
                    parent.classList.remove('invalid')
                } else {
                    let parent = this.parentNode.parentNode
                    parent.classList.add('invalid')
                    parent.classList.remove('valid')
                }
            }, false);
        }
        deleteBtn.addEventListener("click", function (e) {
            e.preventDefault()
            const deleteAll = document.querySelectorAll('.choices__button')
            for (let i = 0; i < deleteAll.length; i++) {
                deleteAll[i].click();
            }
        });

        function set_distribute_false(sel) {
            let distribute = $('#distribute');
            if (sel.value === 'direct sadaka'){
                let distribute = $('#distribute');
                distribute.val('false');
                distribute.prop('disabled', 'disabled');
            }
            else {
                distribute.prop('disabled', false);
            }
        }
    </script>
{% endblock content %}
